[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rewersq
[access "refs/for/refs/*"]
	read = group user/rewersq
	push = group user/rewersq
	label-Code-Review = -2..+2 group user/rewersq
	label-Verified = -1..+1 group user/rewersq
	rebase = group user/rewersq
	removeReviewer = group user/rewersq
	submit = group user/rewersq
[access "refs/heads/*"]
	read = group user/rewersq
	create = group user/rewersq
	push = +force group user/rewersq
	pushMerge = group user/rewersq
[access "refs/tags/*"]
	push = +force group user/rewersq
	pushTag = group user/rewersq
	pushSignedTag = group user/rewersq
